@import url('https://fonts.googleapis.com/css?family=Varela');
body {
  font-family: 'Varela', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: map-get($colors, font-primary);
}
#app{
  height:100vh;
}

.dialog-custom{
  padding: 0 10vw;
  width: 50vw;
  @media only screen and (max-width:767px){
    padding: 0;
    width: 100vw;
  }
}
.el-container{
  min-height: 100%;
}
.ql-container, .ql-toolbar{
  &.ql-snow{
    border: none;
  }
}
.el-footer{
  font-size: 10pt;
}
.unstyled-link {
  text-decoration: none;
  color: map-get($colors, font-primary);
}
.center {
  text-align: center;
}
.substring {
  font-size: 9pt;
  color: map-get($colors, font-lighter);
}
.underlined {
  border-bottom:2px #e4e7ed solid;
}
.navbar-plugin {
  display: list-item;
}
.ul-inline {
  display: flex;
}
.ul-unstyled {
  padding: 0;
  margin: 0;
  li {
    list-style: none;
    margin-right: 1em;
    &:last-child {
      margin-right:0;
    }
  }
}