@import url('https://fonts.googleapis.com/css?family=Varela');
body {
  font-family: 'Varela', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: map-get($colors, font-primary);
}

.dialog-custom{
  padding: 0 20vh;
}
.el-container{
  min-height: 100%;
}
.ql-container, .ql-toolbar{
  &.ql-snow{
    border: none;
  }
}
.el-footer{
  font-size: 10pt;
}
.unstyled-link {
  text-decoration: none;
  color: map-get($colors, font-primary);
}
.center {
  text-align: center;
}
.substring {
  font-size: 10pt;
  color: map-get($colors, font-lighter);
}
.underlined {
  border-bottom:2px #e4e7ed solid;
}
