.dialog-custom{
  padding: 0 20vh;
}
.el-container{
  min-height: 100%;
}
.ql-container, .ql-toolbar{
  &.ql-snow{
    border: none;
  }
}
.el-footer{
  font-size: 10pt;
}

@import url('https://fonts.googleapis.com/css?family=Varela+Round');
body {
  font-family: 'Varela Round', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
}
