version: "3"
networks:
  nginx-go:
services:
  nginx:
    image: nginx:1.15
    ports:
      - 90:80
    volumes:
      - ./config/nginx.dev.conf:/etc/nginx/nginx.conf
    depends_on:
      - frontend
      - backend
    networks:
      - nginx-go
  frontend:
    build:
      context: client
      dockerfile: Dockerfile.dev
    volumes:
      - ./client:/usr/src/app
      - /usr/src/app/node_modules
      - /usr/src/app/.yarncache
    networks:
      - nginx-go
    environment:
      - NODE_ENV=development
  backend:
    build:
      context: server
      dockerfile: Dockerfile.dev
    networks:
      - nginx-go
    environment:
      DB_HOST: db
      DB_PORT: "5432"
    volumes:
      - ./server:/go/src/github.com/asxcandrew/herd/server
  db:
    image: postgres:10
    networks:
      - nginx-go
    ports:
      - "5432"
    environment:
      - POSTGRES_USER=docker
      - POSTGRES_PASSWORD=docker
      - PGDATA=/pgdata
    volumes:
      - ./config/db/dbdata:/var/lib/postgresql/db-data
      - ./config/db/init.sql:/docker-entrypoint-initdb.d/init.sql
