version: "3"
networks:
  nginx-go:
services:
  nginx:
    image: nginx:1.15
    ports:
      - 90:80
    volumes:
      - ./nginx.dev.conf:/etc/nginx/nginx.conf
    depends_on:
      - frontend
      - backend
    networks:
      - nginx-go
  frontend:
    build:
      context: client
      dockerfile: Dockerfile.dev
    volumes:
      - ./client:/frontend
    networks:
      - nginx-go
  backend:
    build:
      context: server
      dockerfile: Dockerfile.dev
    networks:
      - nginx-go
    environment:
      DB_HOST: db
      DB_PORT: "5432"
  db:
    image: postgres:10
    networks:
      - nginx-go
    ports:
      - "5432"
    environment:
      - POSTGRES_USER=docker
      - POSTGRES_PASSWORD=docker
      - PGDATA=/pgdata
    volumes:
      - ./db/dbdata:/var/lib/postgresql/db-data
      - ./db/init.sql:/docker-entrypoint-initdb.d/init.sql
